<!DOCTYPE html>
<html>
    <head>
        <title>GMIT</title>
      
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
        <script type="text/javascript" src="/static/jquery-1.7.1.min.js"></script>
   <!-------------------------------------------------------------> 
     
            <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

     
      	  <!---->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

        <!-- Our Own Custom Style Sheet -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
        <!-- Latest compiled and minified JavaScript -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
      
      
  
       
         
     
   <!-------------------------------------------------------------> 
   
     <!--nav-bar to navigate between pages with flask-->
        <nav class="navbar navbar-inverse">
           
           
  <div class="container-fluid">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/">Ulcerative Colitis Blog Page</a>
                </div>

                <!--  links for  -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                   
 <ul class="nav navbar-nav">
	<li>
	<a href="{{url_for('main')}}"></a>
</li>
	<li><a href="/">Home<span class="sr-only">(current)</span></a></li>
	<li><a href="/about/">about</a></li>
	<li><a href="/contact/">contact</a></li>
	<li><a href="{{url_for('chat')}}">chat</a></li>
	{% if 'username' in session %}
	<li><a href="{{url_for('login')}}">logout</a> {% else %}
	<li><a href="{{url_for('login')}}">login</a> {% endif %}


</ul>
        </div><!-- /.navbar-collapse -->     
        </div><!--container -->
        </nav>

   <br />
   
   
   
   
   
   
   
    </head>
    <body>
        <div id="content">
            {% block body %}{% endblock %}
        </div>
  
  <!------------------------------------------------------------->      
        <div id="flashed">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
            {{message}}
        {% endfor %}
        {% endwith %}
        </div>
         
 <!------------------------------------------------------------->      
         
          <footer class="footer">
        <div>
            <p><a href="/login"></a></p>
        </div>
    </footer>
  </body>
        
    </body>
</html>