{% extends "base.html" %}

{% block title %}
Thermos -- Welcome
{%  endblock %}

{% block content %}
    <article>
        <header>
            <h1>Welcome</h1>
            <p> <a href=""></a> course titled <em>Flask Fundamentals</em>.</p>
        </header>
        
        
        
        <section>
            <h2> h2</h2>
            <p>	</p>
        </section>
        
        
        <section>
            <h2> h2</h2>
            <p>	</p>
        </section>

    </article>
{% endblock %}
